<div class="navBar">
    <button (click)="alterarAbaAtiva('pesquisar')" class="buttonNavBar" mat-button>Pesquisar Pokémon</button>
    <button (click)="alterarAbaAtiva('lendarios')" class="buttonNavBar" mat-button>Lendários</button>
    <button (click)="alterarAbaAtiva('recentes')" class="buttonNavBar" mat-button>Pokémons Recentes</button>
    <button (click)="alterarAbaAtiva('sprites')" class="buttonNavBar" mat-button>Sprites</button>
</div>

<input #mySearch 
    *ngIf="abaAtiva != 'lendarios'"
    (change)="searching(mySearch.value)" 
    name ="pesquisarPokemon" 
    class= "pokemon-search" 
    type="search" 
    placeholder="Pesquisar Pokémon" 
    autofocus
>

<input *ngIf="simpleSearch && abaAtiva != 'lendarios'" #qtsPokemons 
    (change)="alterLimit(qtsPokemons.value)" 
    name ="quantidadeDePokemons" 
    class= "pokemon-qtd" 
    type="Quantidade" 
    placeholder="Quantidade" 
    autofocus
>

<button (click)="reloadPokemons()" *ngIf="!simpleSearch" class="pokemon-button" mat-raised-button color="warn">Voltar</button>

<div *ngIf="simpleSearch && abaAtiva == 'pesquisar'" class="pokemon-list">
    <app-pokemon-card *ngFor="let pokemon of pokemonService.pokemons, index as i"
        [pokemon]="pokemon['name']"
        [numberOfDex]="i + 1"
        [simpleSearch]="simpleSearch"
        [lendario]="false"
    ></app-pokemon-card>
</div>

<div *ngIf="simpleSearch && abaAtiva == 'lendarios'" class="pokemon-list">
    <app-pokemon-card
        [pokemon]="lendarios['name']"
        [numberOfDex]="lendarios.id"
        [simpleSearch]="simpleSearch"
        [lendario]="true"
    ></app-pokemon-card>
</div>

<div *ngIf="!simpleSearch">
    <app-pokemon-card
        [pokemon]="pokemonFinded['name']"
        [numberOfDex]="pokemonFinded['id']"
        [simpleSearch]="simpleSearch"
        [abilities]="pokemonFinded['abilities']"
        [baseExperience]="pokemonFinded['base_experience']"
        [height]="pokemonFinded['height']"
        [moves]="pokemonFinded['moves']"
        [stats]="pokemonFinded['stats']"
    ></app-pokemon-card>
</div>


